{% extends base_template_name %}
{% load staticfiles %}

{% block main %}

<style>

.bg-1 {
    background-color: #428bca; /* dark blue */
    color: #ffffff;
}
.bg-2 {
    background-color: #5bc0de; /* light Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #f9f9f9; /* White */
    color: #555555;
}

</style>

    {{ block.super }}

<div class="container bg-3 text-center">
	<h3 class="text text-muted">Consent</h3>
		<h3> 
			<a href="{% url listboard_url_name %}" class="btn btn-default btn-lg"><i class="fa fa-user-circle-o fa-lg"></i> Subject Consents</a>
		</h3>
	<h3 class="text text-muted">Enrollment</h3>
		<h3>
			<a href="#" class="btn btn-default btn-lg"><i class="fa fa-user-circle-o fa-lg"></i> Enrollment Checklists</a>
		</h3>	
</div>


{% endblock main %}
